@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

/* styles.css */

/* Background color for the entire page */
body {
  background-color: black;
  font-family: Arial, sans-serif;
}

/* Container for the D3.js chart and content */
#content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  padding: 15px;
  background-color: black; /* Background color for the content container */
}

/* Right content (SVG/chart) */
#right-content {
  flex: 1; /* Take up available space */
  text-align: center;
}

/* Left content */
#left-content {
  flex: 1; /* Take up available space */
  padding: 60px 20px 20px; /* Remove top padding and keep bottom padding */
  color: #d7d7d7; /* Text color for the left content */
}

h1 {
  font-size: 80px;
  font-family: Epilogue;
  font-weight: 300;
  color: #d7d7d7;
  margin: 0%; /* Remove margin to align with the top of the container */
}

h4 {
  font-size: 28px;
  font-family: Epilogue;
  font-weight: 200;
  color: #d7d7d7;
}

p {
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 300;
  line-height: 1.5;
  color: #d7d7d7;
  width: 360px;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* Legend item container */
.legend-item {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-top: 0px;
}

/* Age Range */
.legend-rectangle {
  width: 30px;
  height: 80px;
  background: linear-gradient(to bottom, #3780d7, #fff800);
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 0px;
}

/* Circles */
.legend-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Make the circles round */
  margin-right: 10px;
  display: inline-block;
  border: 2px solid transparent; /* Add a transparent border to create the stroke effect */
}

.legend-circle-1 {
  background-color: black; /* Customize the color for Circle 1 */
  box-shadow: 0 0 0 3px #d7d7d7; /* Add a 2px outline around the circle */
}

.legend-circle-2 {
  background-color: #d7d7d7; /* Customize the color for Circle 2 */
  box-shadow: 0 0 0 3px black; /* Add a 2px outline around the circle */
}

/* Labels */
.legend-label {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  color: #d7d7d7;
  font-family: Work Sans;
}

/* Line */
.legend-line {
  width: 40px;
  height: 5px; /* Adjust the height as needed */
  background-color: #d7d7d7; /* Line color */
  margin-right: 10px;
  margin-bottom: 5px; /* Add spacing between the line and circles */
}

/* AXIS STYLING */

/* X-axis line */
.x-axis path,
.x-axis line {
  stroke: #d7d7d7; /* Change the color of the X-axis line */
}

/* Y-axis line */
.y-axis path,
.y-axis line {
  stroke: #d7d7d7; /* Change the color of the Y-axis line */
}

/* Axis text */
.x-axis text,
.y-axis text {
  font-size: 14px;
  fill: #d7d7d7;
  font-family: Roboto Mono;
}

/* Y-axis label text */
#d3-container text.y-axis-label {
  font-size: 16px;
  fill: #d7d7d7;
  font-family: Work Sans;
  font-weight: 300;
}

/* HISTOGRAM STYLING*/

/* Max and Min values in circles */

.top-label {
  font-family: Roboto Mono;
  font-size: 12px;
  font-weight: bold;
  fill: #d7d7d7;
}

.bottom-label {
  font-family: Roboto Mono;
  font-size: 12px;
  font-weight: Bold;
  fill: #000;
}

/* hover cursor for min and max */

.top-label,
.bottom-label {
  cursor: pointer;
}

/* MODAL STYLING */

.modal {
  /* display: flex; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-content {
  display: flex;
  box-sizing: border-box;
  background-color: #d2d2d2;
  margin: 2% auto;
  padding: 30px;
  border: 1px solid #888;
}

/*  close button */
.close {
  color: #bebebe;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 30px;
}

.close:hover,
.close:focus {
  color: #aeaeae;
  text-decoration: none;
  cursor: pointer;
}

/* Carousel Prev and Next Buttons */

#imageCarousel .carousel-control-prev,
#imageCarousel .carousel-control-next {
  position: absolute;
  top: auto;
  bottom: 10px;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  justify-content: right;
  width: 30px;
}

#imageCarousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%23aaaaaa' fill='none' viewBox='0 0 8 8'%3e%3cpath d='M7 1l-4 3 4 3'/%3e%3c/svg%3e");
  width: 30px;
  height: 30px;
}

#imageCarousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' stroke='%23aaaaaa' fill='none' viewBox='0 0 8 8'%3e%3cpath d='M1 1l4 3-4 3'/%3e%3c/svg%3e");
  width: 30px;
  height: 30px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  /* Ensure the clickable area has the same size as the button */
  width: 30px;
}

.carousel-control-prev {
  left: auto;
  right: 50px;
}

.carousel-control-next {
  left: auto;
  right: 0px;
}

/* Carousel Formatting*/

#imageCarousel .carousel-item img {
  max-width: 80vh;
  height: 60vh;
}

#imageCarousel .carousel-caption {
  position: relative;
  text-align: left;
  left: 8%;
  padding-right: 30%;
}

.image-caption-wrapper {
  display: flex;
}

/* .image-container {
  flex: 1; 
} */

.caption-container {
  flex: 1; /* Take up available space */
}

/* Carousel Text */

/* Art Title */
h5 {
  font-size: 28px;
  font-family: Epilogue;
  font-weight: 200;
  font-style: italic;
  color: #000;
}

/* artist and age and display date*/
.artist-info {
  font-size: 18px;
  font-family: Work Sans;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  width: 360px;
  margin-bottom: 2%;
}
