@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Mono:regular);

body {
  font-family: Epilogue;
  text-align: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
}

.buttons {
  display: flex;
  margin: 5% 5% 5% 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  /*margin-bottom: 20px;*/
}

.images {
  display: flex;
  width: 90%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /*margin-bottom: 20px;*/
}

.image-container {
  width: 12%;
  /* height: 4vw;  */
  text-align: center;
  display: flex;
  flex-direction: column; /* To stack the image and text vertically */
  justify-content: flex-end; /* Center both image and text vertically */
  align-items: center; /* Center both image and text horizontally */
  position: relative;
}

.text-boxes {
  display: flex;
  width: 90%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.text-box {
  width: 12%;
  /* height: 100%; */
  background-color: #c7c7c7;
  display: inline-block;
  /* margin: -10px 20px 10px; */
  border-radius: 0 0 40px 40px;
  text-align: left;
  position: relative;
}

.additional-info {
  position: relative;
  padding: 8%;
}

.image-title {
  font-size: 1.15em;
  font-style: italic;
  font-weight: 300;
  word-wrap: break-word;
  padding: 8%;
  margin: 2.5% 0 1.25% 1.25%;
  line-height: 1.2;
}

.display-date {
  /* position: absolute; */
  /* top: -20px;
    left: 0; */
  font-family: PT Mono;
  font-size: 1em;
  font-weight: bold;
  color: #666;
  /* padding: 10px; */
  /* margin: 0px 0px 10px 10px; */
}

.attribution {
  /* position: absolute; */
  /* top: 30%;
    left: 0; */
  font-size: 1em;
  font-weight: 400;
  color: #666;
  word-wrap: break-word;
  white-space: normal;
  /* padding: 10px;
    margin: 20px 10px 10px 10px; */
}

button {
  /* position: absolute; */
  /* top: 40px; 
    right: 40px;  */
  padding: 10px 40px;
  font-family: Epilogue;
  font-size: 22px;
  font-weight: 500;
  background-color: #e5e5e5;
  color: black;
  border: 2px solid black; /* Add a border or stroke */
  border-radius: 30px; /* Add rounded corners */
  cursor: pointer;
}

h1 {
  text-align: left;
  /* position: absolute; */
  font-size: 36px;
  font-weight: 400;
  /* top: 0;
    left: 0; */
  margin: 40px;
}

.rounded-rectangle {
  /* position: absolute; */
  /* bottom: 430px;
    left: 6%;
    right: 6%; */
  width: 100%;
  height: 55px; /* Adjust the height as needed */
  background: linear-gradient(to right, #ffff3e, #3780d7);
  border-radius: 30px; /* Add rounded corners */
  z-index: 1;
}

.rectangle-text {
  /* position: absolute; */
  /* bottom: 0;
    left: 50%; */
  /* transform: translateX(-50%); */
  font-size: 18px;
  color: black;
  font-weight: 500;
  word-spacing: 200px;
  white-space: nowrap;
  /* overflow: hidden;
    text-overflow: ellipsis; */
  display: flex;
  justify-content: space-between;
  padding: 0 9% 0 9%;
  z-index: 2; /* Place text on top of the rectangle */
}

#mediumFilter {
  font-family: Epilogue;
  font-size: 22px;
  font-weight: 500;
  background-color: #e5e5e5;
  color: black;
  margin-right: 5%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; /* Remove default arrow in Chrome and Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  background: url("path-to-your-custom-arrow-icon.png") no-repeat right center; /* Use a custom arrow icon */
  width: auto; /* Allow the select element to adjust its width based on content */
  text-align-last: center; /* Center the text within the select */
}

select#mediumFilter {
  border: none;
}
